@import 'tailwindcss';
@plugin "daisyui";
@plugin "daisyui/theme" {
	name: light;
	default: true;

	--color-primary: #52734d;
	--color-primary-content: rgba(243, 247, 242);

	--color-secondary: #91c788;

	--color-info: #ddffbc;

	--color-neutral: #808080;
	/* #328e6e; */

	--color-warning-content: #4d0000;

	--color-accent: #67ae6e;
	--color-accent-content: rgba(243, 247, 242);

	--color-base-100: #feffde;
	--color-base-200: #e1eebc;
	--color-base-300: #90c67c;

	--color-error: #a6192e;
	--color-error-content: white;
	--color-success: #198754; /* #00c851; #007e33 */
	--color-success-content: white;
}

@theme {
	--font-logo: 'Playfair Display Variable', serif;
	--font-header: 'IBM Plex Sans Variable', sans-serif;

	--color-base-400: #65ab4a;
	--color-base-500: #4a7d4a;
	--color-base-600: #669e66;
	--color-base-700: #c0dc74;

	/* left sidebar */
	--color-base-900: #4c582e;

	--color-alert: #ff5733;
	--color-alert-content: #4d0000;

	--color-pending: #0569ff; /* #bce1ee; */
}

@layer base {
	:root {
		font-family: 'IBM Plex Sans Variable', sans-serif;
	}

	/* ibm-plex-sans-latin-wght-normal */
	@font-face {
		font-family: 'IBM Plex Sans Variable';
		font-style: normal;
		font-display: swap;
		font-weight: 100 700;
		src: url(@fontsource-variable/ibm-plex-sans/files/ibm-plex-sans-latin-wght-normal.woff2)
			format('woff2-variations');
		unicode-range:
			U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329,
			U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
	}

	/* baskervville-latin-600-normal */
	@font-face {
		font-family: 'Baskervville';
		font-style: normal;
		font-display: swap;
		font-weight: 600;
		src:
			url(@fontsource/baskervville/files/baskervville-latin-600-normal.woff2) format('woff2'),
			url(@fontsource/baskervville/files/baskervville-latin-600-normal.woff) format('woff');
		unicode-range:
			U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329,
			U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
	}

	/* baskervville-latin-700-normal */
	@font-face {
		font-family: 'Baskervville';
		font-style: normal;
		font-display: swap;
		font-weight: 700;
		src:
			url(@fontsource/baskervville/files/baskervville-latin-700-normal.woff2) format('woff2'),
			url(@fontsource/baskervville/files/baskervville-latin-700-normal.woff) format('woff');
		unicode-range:
			U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329,
			U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
	}

	/* playfair-display-latin-wght-normal */
	@font-face {
		font-family: 'Playfair Display Variable';
		font-style: normal;
		font-display: swap;
		font-weight: 400 900;
		src: url(@fontsource-variable/playfair-display/files/playfair-display-latin-wght-normal.woff2)
			format('woff2-variations');
		unicode-range:
			U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329,
			U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
	}

	/* Change breadcrumb color */
	.breadcrumbs > ul {
		li:last-child {
			font-weight: 700;
		}

		li + *::before {
			/* border-color: green !important; */
			border-top-width: 3px !important;
			border-right-width: 3px !important;
			margin-inline: 1.25rem !important;
			height: 0.65rem !important;
			width: 0.65rem !important;
			opacity: 75% !important;
			background-color: green;
		}
	}
}

@utility fieldset-legend {
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
	/* padding: 0 !important; */
}
